.new {
    display: flex;
    width: 100%;
    
    

}
.Backpack{
    width: 50%;
    background-color: var(--blue);
    padding: 10px 0;
}


div.flex-container2{
    display: flex;
    justify-content: center;
    background-color: rgba(243, 242, 242, 0.842);
    width: 100%;
    height: 100%;
    gap: 100px;
    border-bottom: 1px solid rgba(100, 78, 78, 0.204);
}

.item1{
    margin: 10px;
    
}